.alert-orange {
  position: fixed;
  top: 50px; 
  right: 50px;
  z-index: 1;
  background-color: #272525f3; 
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  width: 800px; /* increased width */
  animation: slideDown 0.5s; /* added animation */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658); /* added shadow */
}
  
  @keyframes slideDown {
    from {
      top: -50px; /* start from above the viewport */
    }
    to {
      top: 50px; /* end at the desired position */
    }
  }

  /* BooksList.css */

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

/* Large screens */
@media (min-width: 768px) {
  .responsive-table th,
  .responsive-table td {
    padding: 10px;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .responsive-table {
    border: none;
  }
  .responsive-table thead {
    display: none;
  }
  .responsive-table tr {
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #ddd;
  }
  .responsive-table td {
    display: block;
    text-align: right;
    padding: 10px 0;
    border: none;
  }
  .responsive-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
  }
}
.spinners {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}