.alert-oranges { 
  position: fixed;
  top: 50px; 
  right: 50px;
  z-index: 1;
  background-color: #090808a0; 
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  width: 100px; /* increased width */
  animation: slideDown 0.5s; /* added animation */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658); /* added shadow */
}
  
  @keyframes slideDown {
    from {
      top: -50px; /* start from above the viewport */
    }
    to {
      top: 50px; /* end at the desired position */
    }
  }

  /* BooksList.css */

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

@media (min-width: 768px) {
  .responsive-table th,
  .responsive-table td {
    padding: 10px;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .responsive-table {
    border: none;
  }
  .responsive-table thead {
    display: none;
  }
  .responsive-table tr {
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #ddd;
  }
  .responsive-table td {
    display: block;
    text-align: right;
    padding: 10px 0;
    border: none;
  }
  .responsive-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
  }
}
/* Overlay to dim the screen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensures it appears on top of all content */
}

/* Spinner container */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The spinner itself */
.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

/* Spinner rotation animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Styling for the link and icon on hover */
.search-link {
  transition: all 0.3s ease;
}

.search-link:hover {
  opacity: 0.6; /* Reduce the opacity to dull the link */
  color: rgba(255, 255, 255, 0.6); /* Optionally adjust text color to make it dull */
}

.search-link .search-icon {
  transition: all 0.3s ease;
}

.search-link:hover .search-icon {
  opacity: 0.6; /* Dull the icon by reducing its opacity */
}
